<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A fellow programmer has signed up to pair with you!</h1>
    <p>Log in to <a href="http://promiscuouspairprogramming.com">Promiscuous Pair Programming</a> 
	to see the details.</p>
  </body>
</html>